html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0%; 
  font-family: 'Exo 2', sans-serif;
  background: #fff url('background.png');
  background-size: cover;
}
.content { 
  background: rgba(255,255,255, .8); 
  border: 1px solid #7a7b7e;
  border-radius: 10px; 
  padding: 15px 10px 15px 10px; 
  text-align: center;
  margin-left: 10%; 
  margin-right: 10%;
  margin-top: 12%; 
  margin-bottom: 5%;
  flex-grow: 1;
}
.top{
  font-family: 'Lobster', cursive;
}
hr{
  width: 70%;
  color: white;
}
@media screen and (min-width: 650px){
  .leftcol { /* Левая колонка */
    float: left; /* Обтекание справа */
    width: 45%; /* Ширина колонки */
    text-align: center;
  }
  .rightcol { /* Правая колонка */
    margin-left: 50%; /* Отступ слева */
    text-align: center;
  }
}
.candidat-form{
  flex-grow: 1;
  position: relative;
  overflow: hidden; 
}
.form-group{
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.control-label{
  max-width: 100%;
  min-width: 100px;
  text-align: left;
}
.form-group-input{
  max-width: 70%;
  min-width: 70%;
}
.submit{
  color: #fff; 
  text-decoration: none; /* убирать подчёркивание у ссылок */
  background: rgb(108, 070, 117); 
  padding: .7em 1.5em; 
  border: 1px solid #7a7b7e;
  border-radius: 10px; 
  margin-top: 3%;
  max-width: 95%;
}
.submit:hover { background: rgb(238, 130, 238); }
.submit:active { background: rgb(108, 070, 117); } 
.footer {
  bottom: 0px;
  position: relative;
  height: 15px; 
  margin-top: -15px; 
  border-radius: 10px 10px 0 0;
  background:   rgba(0,0,0,.9); 
  font-size: 90%; 
  padding: 15px 0 15px 10px; 
  color: white;
}
